<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th>Section</th>
      <th>Location</th>
    </tr>
    <tr>
      <td>Karle's Online Section (O1)<br>Last Names: A-L</td>
      <td><a href="http://ada.fs.illinois.edu/0007.html" target="_blank">Foellinger Auditorium (Main Floor)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person Section (L2)<br>Last Names: A<br>Karle's Online Section (O1)<br>Last Names: M-Z</td>
      <td><a href="http://ada.fs.illinois.edu/0007.html" target="_blank">Foellinger Auditorium (Balcony)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person Section (L2)<br>Last Names: B-L</td>
      <td><a href="http://ada.fs.illinois.edu/0027.html" target="_blank">Lincoln Hall (Theatre)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person Section (L2)<br>Last Names: M-R</td>
      <td><a href="http://ada.fs.illinois.edu/0012.html" target="_blank">Noyes Laboratory (Room 100)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person Section (L2)<br>Last Names: S-Z</td>
      <td><a href="http://ada.fs.illinois.edu/0158.html" target="_blank">Bevier Hall (Room 180)</a></td>
    </tr>
    <tr>
      <td>Jonas' Online Section (O2)<br>Last Names: A-Z</td>
      <td><a href="http://ada.fs.illinois.edu/0210.html" target="_blank">Digital Computer Laboratory (Room 1320)</a></td>
    </tr>
  </table>
</div>
