<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th>Section</th>
      <th>Location</th>
    </tr>
    <tr>
      <td>Karle's Online Section (O1)<br>Last Names: A-K</td>
      <td>Foellinger Auditorium (Main Floor)</td>
    </tr>
    <tr>
      <td>Karle's Online Section (O1)<br>Last Names: L-S</td>
      <td>Foellinger Auditorium (Balcony)</td>
    </tr>
    <tr>
      <td>Karle's Online Section (O1)<br>Last Names: T-Z</td>
      <td>112 Gregory Hall</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: A-L</td>
      <td>Lincoln Hall Theater</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: M-P</td>
      <td>100 Gregory Hall</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L2)<br>Last Names: Q-Z</td>
      <td>114 David Kinley Hall</td>
    </tr>
   
    
  </table>
</div>
