<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th>Section</th>
      <th>Location</th>
    </tr>
    <tr>
      <td>Karle's In-Person & Online Sections (L1 & ONL)<br>Last Names: A-B</td>
      <td><a href="http://ada.fs.illinois.edu/0043.html" target="_blank">Gregory Hall (Room 100)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person & Online Sections (L1 & ONL)<br>Last Names: C-Fa</td>
      <td><a href="http://ada.fs.illinois.edu/0067.html" target="_blank">Loomis Laboratory (Room 141)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person & Online Sections (L1 & ONL)<br>Last Names: Fe-Hi</td>
      <td><a href="http://ada.fs.illinois.edu/0069.html" target="_blank">Mumford Hall (Room 103)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person & Online Sections (L1 & ONL)<br>Last Names: Ho-La</td>
      <td><a href="http://ada.fs.illinois.edu/0034.html" target="_blank">Materials Science Engineering Building (Room 100)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person & Online Sections (L1 & ONL)<br>Last Names: Le-Mo</td>
      <td><a href="http://ada.fs.illinois.edu/0032.html" target="_blank">Natural History Building (Room 2079)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person & Online Sections (L1 & ONL)<br>Last Names: Mu-Ri</td>
      <td><a href="http://ada.fs.illinois.edu/0012.html" target="_blank">Noyes (Room 100)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person & Online Sections (L1 & ONL)<br>Last Names: Ro-Th</td>
      <td><a href="http://ada.fs.illinois.edu/0159.html" target="_blank">Wohlers Hall (Room 141)</a></td>
    </tr>
    <tr>
      <td>Karle's In-Person & Online Sections (L1 & ONL)<br>Last Names: To-Z</td>
      <td><a href="http://ada.fs.illinois.edu/0026.html" target="_blank">Altgeld Hall (Room 314)</a></td>
    </tr>
  </table>
</div>
