<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <th>SECTION</th>
    <th>FINAL EXAM DETAILS</th>
    <th>LOCATION</th>
  </tr>
  <tr>
    <td>In Person Section (L2) Final Exam -- taken in person</td>
    <td>Thursday May 12th from 8-11am</td>
    <td>Last Names: A-L. <a href="http://ada.fs.illinois.edu/0007.html" target="_blank">Foellinger Auditorium (Main Floor)</a><br>Last Names: M-Z. <a href="http://ada.fs.illinois.edu/0007.html" target="_blank">Foellinger Auditorium (Balcony)</a></td>
  </tr>
  <tr>
    <td>Karle's Online Section (O1) Final Exam -- taken in person</td>
    <td>Wednesday May 11th from 1:30-4:30pm</td>
    <td>Last Names: A-J. <a href="http://ada.fs.illinois.edu/0007.html" target="_blank">Foellinger Auditorium (Main Floor)</a><br>Last Names: K-Sr. <a href="http://ada.fs.illinois.edu/0007.html" target="_blank">Foellinger Auditorium (Balcony)</a><br>Last Names: St-Z. <a href="http://ada.fs.illinois.edu/0158.html" target="_blank">Bevier Hall (Room 180)</a></td>
  </tr>
  <tr>
    <td>Jonas' Online Section (O2) Final Exam -- taken in person</td>
    <td>Friday May 6th from 1:30-4:30pm</td>
    <td><a href="http://ada.fs.illinois.edu/0041.html" target="_blank">Library (Room 66)</a></td>
  </tr>
  </table>
</div>
