<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <th>Exam</th>
    <th>Date & Time</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>In Person Section (L2) Final Exam -- taken in person</td>
    <td>Thursday May 12th from 8-11am</td>
    <td>TBA</td>
  </tr>
  <tr>
    <td>Karle's Online Section (O1) Final Exam -- taken in person</td>
    <td>TBA</td>
    <td>TBA</td>
  </tr>
  <tr>
    <td>Jonas' Online Section (O2) Final Exam -- taken in person</td>
    <td>TBA</td>
    <td>TBA</td>
  </tr>
  </table>
</div>
