<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <th>Exam</th>
    <th>Date & Time</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>In Person Final Exam</td>
    <td>Monday December 13th from 1:30-4:30pm</td>
    <td>Lincoln Hall Theater: In Person Last Names A-P<br>Loomis Room 141: In Person Last Names R-Z</td>
  </tr>
  <tr>
    <td>Online Final Exam</td>
    <td>Tuesday December 14th from 1:30-4:30pm</td>
    <td>Foellinger Floor: Online Last Names A-J<br>Foellinger Balcony: Online Last Names K-R<br>Lincoln Hall Theater: Online Last Names S-Z</td>
  </tr>
  <!-- <tr>
    <td>International Conflict Final Exam</td>
    <td>Monday, May 10th from 11:30pm-2:30am CST</td>
    <td>Compass</td>
  </tr> -->
  </table>
</div>
